<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/index.css">
    <title>weatherData</title>
  </head>
<body>
 <h1>CURRENT WEATHER.</h1>


  <form class="form" action="/" method="post">
    <input id="CityName" type="text" name="cityName" autocomplete="off" placeholder="enter the name of a city">
    <label for="CityName" class="label-name"> <span class="content-name">CITY</span> </label>
    <button type="submit" class="btn" name="button">Go</button>
  </form>

</body>



</html>
